<!DOCTYPE html>
<html>
<head>
    <title>About - DAYSAVVY</title>
</head>
<body>
    <h1>About This App</h1>
    <p>A SuperAI that can save your day</p>
    <p>Developed a full-featured task management web application using Flask, Python, SQLAlchemy, HTML, CSS, and JavaScript, featuring AI voice integration for adding and managing tasks.
        Implemented task creation, categorization, editing, deletion, and date-time tracking with a responsive UI and secure backend database management. 
        Leveraged AI voice commands to enhance user interaction and productivity, delivering a seamless and intelligent task management experience.</p>
</body>
</html>
